GITHUB_REPO=owner/repo
# Create a token here: https://github.com/settings/personal-access-tokens
GITHUB_TOKEN=ghp_your_token_here

UPTIME_KUMA_DB_HOSTNAME=localhost
UPTIME_KUMA_DB_PORT=3306
UPTIME_KUMA_DB_USERNAME=uptime_kuma
UPTIME_KUMA_DB_PASSWORD=secret
UPTIME_KUMA_DB_NAME=kuma

POLL_INTERVAL_SECONDS=120         # How often should the script runs, in seconds
RUN_ONCE=false                    # If true, only run the script once and exit
LOG_LEVEL=INFO                    # Default = INFO 
GITHUB_LABEL=uptime-kuma          # Label that gets added to opened github issues
AUTO_CLOSE_RESOLVED=true          # Automatically close resolved issues that have the specified GITHUB_LABEL

# Status page monitor sync options
MANAGE_STATUS_PAGE=false          # Set to true to sync monitors to a specified status page
IGNORE_TAGS=dev,private           # Comma seperated list of tags to ignore
STATUS_PAGE_SLUG=default          # Specify the status page to add monitors to by slug
STATUS_PAGE_GROUP_NAME=Services   # Specify the status page group to add monitors to
STATUS_PAGE_SORT_ALPHABETIC=true  # Set to false to disable sorting of monitors in the group
