GITHUB_REPO=owner/repo
# Create a token here: https://github.com/settings/personal-access-tokens
GITHUB_TOKEN=ghp_your_token_here

# DB Connection settings
UPTIME_KUMA_DB_HOSTNAME=localhost
UPTIME_KUMA_DB_PORT=3306
UPTIME_KUMA_DB_USERNAME=uptime_kuma
UPTIME_KUMA_DB_PASSWORD=secret
UPTIME_KUMA_DB_NAME=kuma

# How often should the script runs, in seconds
POLL_INTERVAL_SECONDS=120

# If true, only run the script once and exit
RUN_ONCE=false

# Set Log leveL: "DEBUG", "INFO" (Default), "WARNING", "ERROR", or "CRITICAL" 
LOG_LEVEL=INFO

# Label that gets added to opened github issues
GITHUB_LABEL=uptime-kuma

# Automatically close resolved issues that have the specified GITHUB_LABEL
AUTO_CLOSE_RESOLVED=true

### Status page monitor sync ###

# Set to true to sync monitors to a specified status page. If false, all other options below do not need to be set
MANAGE_STATUS_PAGE=false
# Specify the status page to add monitors to by slug
STATUS_PAGE_SLUG=default
# Specify the status page group to add monitors to
STATUS_PAGE_GROUP_NAME=Services
# Set to true to sort monitors in the group alphabetically
STATUS_PAGE_SORT_ALPHABETIC=true
# Comma seperated list of tags to ignore. Monitors with these tags will be removed from the status page.
IGNORE_TAGS=dev,private
